[user]
	name = Arseny Nerinovsky
	email = arseny-n@yandex.ru
[credential]
	helper = cache --timeout=3600
[core]
	excludesfile = /home/arseni/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[push]
	default = current
